<H1>Existing Datasets</H1>
<ul>
  <% @datasets.each do |ds| %>
  <li><%= link_to ds.name,  dataset_path( id: ds.id ) %></li>
  <% end %>
</ul>
<h1>Your Spreadsheets</h1>
<ul>
  <% @sheets.each do |ss| %>
  <li><%= link_to ss.title, new_dataset_path( key: ss.key ) %></li>
  <% end %>
</ul>
